*{
    padding: 0;
    margin:0;
}

.graph{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.highcharts-figure{
    width:100%;
    margin-top: 3rem;
}
.nav-link{
   font-size: 2rem;
   margin:1rem;
}
.navbar-brand{
   font-size: 3rem!important;
   margin:1rem!important;
}
.new1{
    border-top: 1px solid red;
}
@media screen and (min-width: 790px){
    .graph{
        width:70%;
        margin: 0 auto;
    }
    .top{
        width:70%!important;
        margin:1rem auto;
    }
}
